<div id="aq-graphs1" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/MQ135-Organic-Compounds?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:'MQ135%20Organic%20Compounds',field:gsdata.MQ135),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:datetime,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'MQ135%20Organic%20Compounds',type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
<div id="aq-graphs2" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/MQ131-Ozone?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:'MQ131%20Ozone',field:gsdata.MQ131),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:datetime,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'MQ131%20Ozone',type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
<div id="aq-graphs3" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/Temperature?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:Temperature,field:thdata.temp),schema:metric,type:avg),(id:'2',params:(customInterval:'10s',extended_bounds:(),field:datetime,interval:custom,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!t,times:!(),yAxis:()),title:Temperature,type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
<div id="aq-graphs4" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/Humidity?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:Humidity,field:thdata.humidity),schema:metric,type:avg),(id:'2',params:(customInterval:'10s',extended_bounds:(),field:datetime,interval:custom,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!t,times:!(),yAxis:()),title:Humidity,type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
<div id="aq-graphs5" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/Particle-Density?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:'Particle%20Density',field:dsdata.density),schema:metric,type:avg),(id:'2',params:(customInterval:'10s',extended_bounds:(),field:datetime,interval:custom,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!t,times:!(),yAxis:()),title:'Particle%20Density',type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
<div id="aq-graphs6" class="row">
  <div class="col-sm-12">
    <iframe frameBorder="0" src="http://192.168.0.3:5601/app/kibana#/visualize/edit/MQ7-Carbon-Monoxide?embed=true&_g=(refreshInterval:(display:'10%20seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(customLabel:'MQ7%20Carbon%20Monoxide',field:gsdata.MQ7),schema:metric,type:avg),(id:'2',params:(customInterval:'10s',extended_bounds:(),field:datetime,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'MQ7%20Carbon%20Monoxide',type:line))"
      height="300" width="800"></iframe>
  </div>
</div>
